<!DOCTYPE html>
<html>
<head>
	<title>CSCB20-Assignment</title>
	<link rel="stylesheet" type="text/css" href="../static/Assignment.css">
		<link rel="stylesheet" type="text/css" href="../static/navbar.css">
	<link rel="stylesheet" type="text/css" href="../static/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/header.css">
</head>
<body>
	<header id="main-header">
		<div class="container">
			<img src="../static/image/utsc.png">	
		</div>
	</header>

		{% include 'nav.html' %}


	<div id="showcase">
		<div class="container">
		</div>	
	</div>

	<div class="container">
		<div id="main">
			<div class="a-assignment">
				<h2>Assignment 1</h2>
				<div class="date">
					<p>Due on 9th February at 11:59pm</p>
				</div>

				<div class="description">
					<h3>Description</h3>
					<p>You must work in groups of exactly 2 (including yourself) for this assignment. Working alone is not anoption. There are two parts to this assignment. InPartAyou will write relational algebra only. InPartByou will write actual SQL queries.</p>
					
				</div>

				<div class="handout">
					<a href="dummy.pdf" target="_blank">A1 Handout</a>
				</div>		
			</div>

			<div class="a-assignment">
				<h2>Assignment 2</h2>
				<div class="date">
					<p>Due on 13th March at 11:59pm</p>
				</div>

				<div class="description">
					<h3>Description</h3>
					<p>
						In this assignment, you will develop a new course website for the course CSC B20 using HTML and CSS. You are notallowed to use any web framework such as BootStrap and JQuery etc. You must work in groups of two.
					</p>
					
				</div>


				<div class="handout">
					<a href="dummy.pdf" target="_blank">A1 Handout</a>
				</div>		
			</div>

			<div class="a-assignment">
				<h2>Assignment 3</h2>
				<div class="date">
					<p>Due on 31th March at 11:59pm</p>
				</div>

				<div class="description">
					<h3>Description</h3>
					<p>
						our task for this assignment is to write the HTML, CSS, JavaScript and PHP code for a Web app that accesses a final exam timetable database site. Your app will show the exam time for a user-chosen course and alternatively (for a higher mark), an extension to this web app.

					</p>
					
				</div>

				<div class="handout">
					<a href="dummy.pdf" target="_blank">A1 Handout</a>
				</div>		
			</div>
			
		</div>
		
	</div>
	<br>



	<footer id="main-footer">
		<div class="foot-content">
			<p> <b>Department of </b></p>
			<p> <b>Computer Science and</b> </p>
			<p><b>Mathematics </b> </p>
		</div>

		<div class="foot-content">
			<p>&copy; Copyright 2019 by <b>Zhi Ping Zhuang</b> </p>
			<p>and <b>Nazrin Aliyeva</b></p>
		</div>

		<div class="foot-content">
			<p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"></p>Faculty of Computer Science at UofT</a>
		</div>
	</footer>


</body>
</html>