<!DOCTYPE html>
<html>
<head>
	<title>CSCB20-Feedback</title>
	<link rel="stylesheet" type="text/css" href="../static/Feedback.css">
	<link rel="stylesheet" type="text/css" href="../static/navbar.css">
	<link rel="stylesheet" type="text/css" href="../static/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/header.css">
</head>
<body>
		<header id="main-header">
		<div class="container">
			<img src="../static/image/utsc.png">
		</div>
	</header>

	{% include 'nav.html' %}

	<div id="showcase">
		<div class="container">
			
		</div>
	</div>

	<div class="container">
		
		{% if cur_type %} 
		<h3>Anonymous Feedbacks:</h3>
		<div class ="works"><h3>{{works}}</h3> </div>
		<form class="my-form"  action="/feedback" method="POST">
			<!-- <label>Feedback: </label> -->
			<br>
			 <!-- if textarea doesnt' work then use <input type='text'>  -->
			<textarea name = "comment1" placeholder="What do you like about the instructor teaching?" style="height:150px" ></textarea>

			<br>
			<textarea name="comment2" placeholder="What do you recommend the instructor to do to improve their teaching?" style="height:150px" ></textarea>
			<br>
			<textarea name ="comment3" placeholder="What do you like about the labs?" style="height:150px" ></textarea>
			<br>
			<textarea name = "comment4" placeholder="What do you recommend the lab instructors to do to improve their lab teaching?" style="height:150px" ></textarea>
			
			<label>To Instructor: </label>
			<select name="instructor_name" id="">
				<!-- get all the instructor from the database then loop through all the instructor and put option tag -->
				{% for a_instructor in all_instructors %}
				<option value="{{ a_instructor['full_name'] }}">{{ a_instructor["full_name"] }}</option>
				{% endfor %}
			</select>
			<br>
			<br>
			<input class="button" type="submit" value="Submit" >
		</form>
		{% endif %}



		{% if not cur_type %}
		<h3>Anonymous Feedbacks From students:</h3>
			{% for  a_user_comments in all_comments %}
			
				{% for key, value in a_user_comments.items() %}
					<div class = "comment">
						<p> {{ value}}</p>
					</div>
				{% endfor %}
							
			{% endfor %}

		{% endif %}

	

		<br>
	</div>
	<footer id="main-footer">
		<div class="foot-content">
			<p> <b>Department of </b></p>
			<p> <b>Computer Science and</b> </p>
			<p><b>Mathematics </b> </p>
		</div>

		<div class="foot-content">
			<p>&copy; Copyright 2019 by <b>Zhi Ping Zhuang</b> </p>
			<p>and <b>Nazrin Aliyeva</b></p>
		</div>

		<div class="foot-content">
			<p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"></p>Faculty of Computer Science at UofT</a>
		</div>
	</footer>


</body>
</html>