<!DOCTYPE html>
<html>
<head>

	<title>CSCB20 Introduction to Databases and Web Applications</title>

	<!-- all the css files for this html file -->
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<link rel="stylesheet" type="text/css" href="../static/navbar.css">
	<link rel="stylesheet" type="text/css" href="../static/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/header.css">

</head>
<body>
	<header id="main-header">
		<div class="container">
			<img src="../static/image/utsc.png">
		
		</div>
	</header>

	{% include 'nav.html' %}


	<div id="showcase">
		<div class="container">
			<h1> 
				Welcome to CSCB20 - Introduction to Databases and Web Applications
			</h1>
		</div>	
	</div>

	<div class="container">
		<section id="main">
			<h2>Course Desciption</h2>
			<p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.
			</p>
			
			<p>
				<b>Prerequisite:</b> Some experience with programming in an imperative language such as Python, Java or C.
			</p>

			<p>
				<b>Exclusion:</b> This course may not be taken after - or concurrently with - any C- or D-level CSC course.
			</p>

			<a href="dummy.pdf" target="_blank">Course Syllabus</a>

		</section>
	</div>

	<hr>
	<div class="container">
		<h2>Course Team</h2>


		<div id="course-team">
			<div class ="course-team-info">
				<img src="../static/image/abbas.jpg">
				<h4>Instructor: Abbas Attarwala</h4>
				<h6>Email: abbas.attarwala@utoronto.ca</h6>
				<h6>Office: IC 346</h6>
			</div>

			<div class="course-team-info">
				<img src="../static/image/personPlaceHolder.png">
				<h4>TA: Bryan Tam</h4>
				<h6>Email: Bryan.Tam@mail.utoronto.ca</h6>
				<h6>Office: IC400a</h6>
			</div>

			<div class="course-team-info">
				<img src="../static/image/personPlaceHolder.png">
				<h4>TA: Kevin Zhang</h4>
				<h6>Email: Kevin.Zhang@mail.utoronto.ca</h6>
				<h6>Office: IC400a</h6>
			</div>

			<div class="course-team-info">
				<img src="../static/image/femaleholder.png">
				<h4>TA: Suhailah Rahman</h4>
				<h6>Email: Suhailah.Rahman@mail.utoronto.ca </h6>
				<h6>Office: IC400a</h6>
				
			</div>

			<div class="course-team-info">
				<img src="../static/image/personPlaceHolder.png">
				<h4>TA: Dharmik Shah</h4>
				<h6>Email: Dharmik.Shah@mail.utoronto.ca</h6>
				<h6>Office: IC400a</h6>
			</div>


			<div class="course-team-info">
				<img src="../static/image/personPlaceHolder.png">
				<h4>Zhongyang Xia</h4>
				<h6>Email: Zhongyang.Xia@mail.utoronto.ca</h6>
				<h6>Office: IC400a</h6>
			</div>
		</div>
	</div>


	<hr>
	<div class="container">
		<h2>Calendar</h2>

		<!-- link to the google calendar -->
		<iframe src="https://calendar.google.com/calendar/embed?src=7fcb2vukgkuqv3hj78o6lu2ogs%40group.calendar.google.com&ctz=America%2FToronto" style="border: 0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
	</div>



	<!-- The footer contains the department name, copyright name, and a link to utsc faculty -->
	<footer id="main-footer">
		<div class="foot-content">
			<p> <b>Department of </b></p>
			<p> <b>Computer Science and</b> </p>
			<p><b>Mathematics </b> </p>
		</div>

		<div class="foot-content">
			<p>&copy; Copyright 2019 by <b>Zhi Ping Zhuang</b> </p>
			<p>and <b>Nazrin Aliyeva</b></p>
		</div>

		<div class="foot-content">
			<p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"></p>Faculty of Computer Science at UofT</a>
		</div>
	</footer>


	
</body>
</html>