<!DOCTYPE html>
<html>
<head>
	<title>CSCB20-Lecture</title>
	<link rel="stylesheet" type="text/css" href="../static/Lecture.css">
	<link rel="stylesheet" type="text/css" href="../static/navbar.css">
	<link rel="stylesheet" type="text/css" href="../static/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/header.css">
</head>
<body>
	<header id="main-header">
		<div class="container">
			<img src="../static/image/utsc.png">
			
		</div>
	</header>

	{% include 'nav.html' %}


	<div id="showcase">
		<div class="container">
			<h1> 
				Lectures
			</h1>
		</div>	
	</div>

	<div class="container">
		<div id ="main">
			<div class="lecture-week">
				<div class="week-number"><h2>Week1</h2></div>

				<ul>
					<li>Python reviews</li>
					<li>Databases background</li>
				</ul>

				<div class="lecture-slides"> <a href="dummy.pdf" target="_blank">Lecture Slides</a></div>
		
			</div>

			<div class="lecture-week">
				<div class="week-number"><h2>Week2</h2></div>
				<ul>
					<li>Relational Algebra</li>
				</ul>
				<div class="lecture-slides"> <a href="dummy.pdf" target="_blank">Lecture Slides</a></div>
			</div>


			<div class="lecture-week">

				<div class="week-number"><h2>Week3</h2></div>
				<ul>
					<li>Schema Diagrams</li>
					<li>Relational Algebra Review</li>
				</ul>
				<div class="lecture-slides"> <a href="dummy.pdf" target="_blank">Lecture Slides</a></div>
			</div>


			<div class="lecture-week">
				<div class="week-number"><h2>Week4</h2></div>
				<ul>
					<li>SQL queries</li>
				</ul>
				<div class="lecture-slides"> <a href="dummy.pdf" target="_blank">Lecture Slides</a></div>
			</div>

			<div class="lecture-week">
				<div class="week-number"><h2>Week5</h2></div>
				<ul>
					<li>Introduction to Web development</li>
					<li>Introduction to HTML</li>
					<li>Introduction to Flask</li>
				</ul>
				<div class="lecture-slides"> <a href="dummy.pdf" target="_blank">Lecture Slides</a></div>
			</div>

			<div class="lecture-week">
				<div class="week-number"><h2>Week6</h2></div>
				
				<p>no lecture due to midterm exam</p>
			</div>

			<div class="lecture-week">
				<div class="week-number"><h2>Week7</h2></div>
				<p>no lecture due to reading week</p>
			</div>

			<div class="lecture-week">
				<div class="week-number"><h2>Week8</h2></div>
				<ul>
					<li>More HTML</li>
					<li>CSS</li>
				</ul>
				<div class="lecture-slides"> <a href="dummy.pdf" target="_blank">Lecture Slides</a></div>
			</div>

			<div class="lecture-week">
				<div class="week-number"><h2>Week9</h2></div>
				<ul>
					<li>Flexbox in CSS</li>
					<li>Media Queries</li>
					<li>JavaScript</li>
				</ul>
				<div class="lecture-slides"> <a href="dummy.pdf" target="_blank">Lecture Slides</a></div>
			</div>

		</div>
		<br>
		<br>

	</div>


	<footer id="main-footer">
		<div class="foot-content">
			<p> <b>Department of </b></p>
			<p> <b>Computer Science and</b> </p>
			<p><b>Mathematics </b> </p>
		</div>

		<div class="foot-content">
			<p>&copy; Copyright 2019 by <b>Zhi Ping Zhuang</b> </p>
			<p>and <b>Nazrin Aliyeva</b></p>
		</div>

		<div class="foot-content">
			<p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"></p>Faculty of Computer Science at UofT</a>
		</div>
	</footer>


</body>
</html>