<link rel="stylesheet" href="/static/login.css" type="text/css">
{% block body %}
<form action="/signup" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Sign Up</h1>
</div>
<div class="login-form">
	<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="username" name="username">
	<label class="login-field-icon fui-user" for="login-name"></label>
	</div>

	<div class="control-group">
					<input type="password" class="login-field" id="password" value="" placeholder="password" name="password">
				<!-- <label class="login-field-icon fui-lock" for="login-pass"></label> -->
	</div>

	<div class="control-group">
			<input type="password" class="login-field" id="confirm_password" value="" placeholder="confirm password" name="cpassword">
			<!-- <label class="login-field-icon fui-lock" for="login-pass"></label> -->
	</div>

	<!-- for id number -->
	<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="ID number" name="IDnumber">
		<label class="login-field-icon fui-user" for="login-idnumber"></label>
	</div>

	<div class="control-group">
			<input type="full_name" class="login-field" value="" placeholder="full name" name="full_name">
			<label class="login-field-icon fui-user" for="full-name"></label>
</div>
		
	<div class="control-group">
	<select class="login-field" name="account_type">
		<option value="STUDENT">Student</option>
		<option value="INSTRUCTOR">Instructor</option>
	</select>
</div>
			
				
<input type="submit" id="login-btn" value="Create Account" class="btn btn-primary btn-large btn-block">
<!-- put this into exteral js after  
this is to make sure the account can only be created if the password == comfirm password
-->
<!-- <script>

	document.addEventListener("DOMContentLoaded", function () {
		document.getElementById("confirm_password").addEventListener("keyup", function() {
			
			if (document.getElementById("password").value == this.value) {
				document.getElementById('confirm_password').style.borderColor = null;
				document.getElementById('login-btn').removeAttribute("disabled");
				document.getElementById('login-btn').style.backgroundColor = null;

			} else {
				document.getElementById('login-btn').setAttribute("disabled", "disabled");
				document.getElementById('login-btn').style.backgroundColor = 'grey'
				document.getElementById('confirm_password').style.borderColor = 'red';


			}
		})

	})

</script> -->
<script src="../static/signup.js"></script>


</div>
</div>
</div>
</form>
{% endblock %}
