<!DOCTYPE html>
<html>
<head>
	<title>CSCB20-Tutorial</title>
	<link rel="stylesheet" type="text/css" href="../static/Tutorial.css">
	<link rel="stylesheet" type="text/css" href="../static/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/header.css">
	<link rel="stylesheet" type="text/css" href="../static/navbar.css">
</head>
<body>
	<header id="main-header">
		<div class="container">
			<img src="../static/image/utsc.png">	
		</div>
	</header>

	{% include 'nav.html' %}

	<div id="showcase">
		<div class="container">
			<h1> 
				Tutorial
			</h1>
		</div>	
	</div>

	<div class="container">
		<div id ="main">
			<div class="tut-week">
				<div class="week-number"><h2>Week1</h2></div>

				<p> NO Tutorial this week</p>
		
			</div>

			<div class="tut-week">
				<div class="week-number"><h2>Week2</h2></div>
				<ul>
					<li>Python review</li>
				</ul>
				<div class="handout"> <a href="dummy.pdf" target="_blank">Handout</a></div>
			</div>


			<div class="tut-week">

				<div class="week-number"><h2>Week3</h2></div>
				<ul>
					<li>Schema Diagrams</li>
					<li>Relational Algebra Review</li>
				</ul>
				<div class="handout"> <a href="dummy.pdf" target="_blank">Handout</a></div>
			</div>


			<div class="tut-week">
				<div class="week-number"><h2>Week4</h2></div>
				<ul>
					<li>SQL queries</li>
				</ul>
				<div class="handout"> <a href="dummy.pdf" target="_blank">Handout</a></div>
			</div>

			<div class="tut-week">
				<div class="week-number"><h2>Week5</h2></div>
				<ul>
					<li>Introduction to Web development</li>
					<li>Introduction to HTML</li>
					
				</ul>
				<div class="handout"> <a href="dummy.pdf" target="_blank">Handout</a></div>
			</div>

			<div class="tut-week">
				<div class="week-number"><h2>Week6</h2></div>
				
				<ul>
					<li>installing flask</li>
					<li>basic of flask</li>
					
				</ul>
			</div>

			<div class="tut-week">
				<div class="week-number"><h2>Week7</h2></div>
				<p>no tutorial due to reading week</p>
			</div>

			<div class="tut-week">
				<div class="week-number"><h2>Week8</h2></div>
				<ul>
					<li>More HTML</li>
					<li> Introduction to CSS</li>
				</ul>
				<div class="handout"> <a href="dummy.pdf" target="_blank">Handout</a></div>
			</div>

			<div class="tut-week">
				<div class="week-number"><h2>Week9</h2></div>
				<ul>
					<li>Flexbox in CSS</li>
					<li>Media Queries</li>
					<li>introduction to JavaScript</li>
				</ul>
				<div class="handout"> <a href="dummy.pdf" target="_blank">Handout</a></div>
			</div>

		</div>
		<br>

</body>
</html>