<!DOCTYPE html>
<html>
<head>
	<title>CSCB20-Announcements</title>
	<link rel="stylesheet" type="text/css" href="../static/Announcements.css">
	<link rel="stylesheet" type="text/css" href="../static/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/navbar.css">
	<link rel="stylesheet" type="text/css" href="../static/header.css">

</head>
<body>
	<header id="main-header">
		<div class="container">
			<img src="../static/image/utsc.png">
			
		</div>
	</header>

	{% include 'nav.html' %}


	<div id="showcase">
		<div class="container">
			<h1> 
				Announcements
			</h1>
		</div>	
	</div>


	<div class="container">
		<div id="main">
			<div class="a-announcement">
				<h2>Midterm exam grades</h2>

				<div class="date">
					<p>Posted on: Mar 15, 2019 at 11:02pm</p>
				</div>

				<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
			
			</div>

			<div class="a-announcement">
				<h2>Pre lecture videos for lecture for lecture on 4th March</h2>

				<div class="date">
					<p>Posted on: Feb 10, 2019 at 10:02am</p>
				</div>

				<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
			</div>
			

			<div class="a-announcement">
				<h2>Pre lecture videos for lecture on 13th February</h2>
				
				<div class="date">
					<p>Posted on: Feb 5, 2019 at 5:02pm</p>
				</div>

				<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
				</p>
			</div>

		</div>
		
	</div>
	<br>

	<footer id="main-footer">
		<div class="foot-content">
			<p> <b>Department of </b></p>
			<p> <b>Computer Science and</b> </p>
			<p><b>Mathematics </b> </p>
		</div>

		<div class="foot-content">
			<p>&copy; Copyright 2019 by <b>Zhi Ping Zhuang</b> </p>
			<p>and <b>Nazrin Aliyeva</b></p>
		</div>

		<div class="foot-content">
			<p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science"></p>Faculty of Computer Science at UofT</a>
		</div>
	</footer>



</body>
</html>