
<nav id="nav-bar">
	<div class="container">
		<ul>
			<li><a href="/index">Home</a></li>
			<li><a href="/announcement">Announcements </a> </li>
			<li><a href="/assignment"> Assignments</a></li>
			<li><a href="/lecture">Lectures</a></li>
			<li><a href="/tutorial">Tutorials</a></li>
			<li><a href="/marks">Marks</a></li>
			<li><a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank">Markus</a></li>
			<li><a href="https://www.piazza.com/class" target="_blank">Discussion Board </a></li>
			<li><a href="/feedback">Feedback</a></li>
			<li><a href="/logout">Log Out: {{ username }}</a></li>
		</ul>	
	</div>
</nav>


