body{
	background-color: #f4f4f4;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;

}


#showcase{
	background-image:url("image/Abackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	min-height:500px;
	margin-bottom:30px;

}

#main{
	
	display: flex; /*make all box to have the same height and width and 2 box in each row*/
	justify-content: flex-start;
	flex-wrap: wrap;
}

.a-assignment{
	flex: 0 48%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
	margin-right: 10px;
	margin-top: 10px;
	background-color: white;

}

.date{
	margin-top: -15px;
	padding-left: 10px;
	font-style: italic;
	background-color: #FFA500;
	width: 50%;
}

.description p{
	margin-top: -10px;
	padding-left: 10px;
}

.a-assignment a{
	background-color: #1E90FF;
	text-decoration: none;
	padding: 10px;
	color: #DCDCDC;


}

.a-assignment a:hover{
	color: #808080 /*darker grey */
}
