body{
	background-color: #f4f4f4;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	/*overflow:hidden;*/
}

/*id*/
#showcase{
	background-image: url("image/feedbackmatters.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
	min-height:550px;
	margin-bottom:30px;
	text-align: center;

}
/*class*/
.my-form textarea{
	width: 100%
	
}



.my-form input[type=submit] {
  background-color: #D3D3D3;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.my-form input[type=submit]:hover {
  background-color: #696969; /*a darker grey color*/
}

.comment p{
	border: 1px solid #ccc;

	box-sizing: border-box;
	background-color: white;
}

.works h3{
	padding-top: 15px;
	color: red;
}